.App {
  display:flex;
  align-content: center;
  justify-content: center;
  text-align:center;
}
.todo-container{
  width:90%
}
.task-card{
  background:#f7f4f6;
  border-radius:30px;
  height:7rem;
  text-align: center;
}
.btn{
  width: 90%;
  background-color:#0d7;
  border:0;
}
.form{
  position:absolute;
  top:0;
  height:50%;
  margin-top:5rem;
  width:90%;
  background-color:#f7f4f6;
  -webkit-box-shadow: -1px 0px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 17px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 17px 0px rgba(0,0,0,0.75);
}
.form input{
  width:90%
}